body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90B990
}

.top-bar-container {
    display: flex;
    background-color: #52AA52;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px black;
}

b {
    color: rgb(119, 184, 0);
    margin-left: 20px;
    font-size: 35px;
    text-shadow: 0 0 10px black;
}

.top-bar-btn {
    display: flex;
    color: whitesmoke;
    background-color: rgb(82, 170, 82);
    border: none;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    text-shadow: 0 0 3px black;
    transition: .1s;
}

.top-bar-btn:hover {
    text-shadow: 0 0 7px black;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.74);
}

.top-bar-btn:active {
    background-color: rgb(28, 117, 28);
    text-shadow: 0 0 0px black;
    box-shadow: 0px 0px 0px black;
}

.listOfDebtors-sub-remove-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin: 20px 100px 0px 100px;
}

.head-text {
    text-shadow: 0 0 4px black;
    font-size: 35px;
    margin: 20px 0px;
}

.transac {
    text-shadow: 0 0 4px black;
    font-size: 20px;
    margin: 20px 0px;
}

.add-and-transactions-container {
    display: flex;
    gap: 20px;
}

.add-and-transactions-btn {
    background-color: rgb(82, 170, 82);
    border: none;
    color: whitesmoke;
    text-shadow: 0 0 10px black;
    font-size: 20px;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    transition: .1s;
}

.add-and-transactions-btn:hover {
    box-shadow: 0 0 7px black;
}

.add-and-transactions-btn:active {
    background-color: rgb(28, 117, 28);
    box-shadow: 0 0 5px #666;
    transform: translateY(2px);
}

.customer-box-lists-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.customer-box-lists {
    display: flex;
    flex-direction: column;
    background-color: #52AA52;
    border-radius: 15px;
    margin: 20px 25px;
    padding: 30px;
    gap: 20px;
    box-shadow: 0 0 3px black;
    max-width: 300px;
    cursor: pointer;
}

.customer-box-lists:hover {
    box-shadow: 0 0 5px black;
}

.profile-logo {
    max-width: 100%;
}

p {
    color: whitesmoke;
    font-weight: 700;
    margin-bottom: 0px;
    text-shadow: 0 0 3px black;
}

@media only screen and (max-width: 600px) {

    .listOfDebtors-sub-remove-container {
        align-items: start;
        flex-direction: column;
        margin: 25px;
    }

    .customer-box-lists-container {
        grid-template-columns: auto;
    }

    .customer-box-lists {
        max-width: 600px;
    }

}

html, body {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}


.search-container {
    display: flex;
    box-shadow: 3px rgb(255, 255, 255);
    box-shadow: 0 0 6px white;
    border-radius: 25px;
}

.search-input {
    padding: 15px 15px;
    font-weight: 700;
    border-radius: 25px 0px 0px 25px;
    border: none;
}
.search-input1 {
    padding: 15px 15px;
    font-weight: 700;
    border-radius: 25px 25px 25px 25px;
    border: none;
}

.search-btn {
    color: white;
    background-color: rgb(31, 63, 245);
    font-weight: 700;
    padding: 15px 20px 15px 15px;
    border-radius: 0px 25px 25px 0px;
    border: none;
    cursor: pointer;
}

.search-btn:active {
    background-color: rgb(32, 28, 221);
    box-shadow: 0 0 4px #666;
    transform: translateY(2px);
}

.num {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}


.cancel-confirm-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.del-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-btn {
    padding: 10px 18px;
    background-color: rgb(221, 6, 6);
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 2px black;
    font-weight: 700;
    transition: .1s;
    cursor: pointer;
}

.del-btn:hover {
    background-color: red;
}

.del-btn:active {
    background-color: rgb(179, 10, 10);
    box-shadow: 0 0 4px #666;
    transform: translateY(2px);
}

/* Extra styles for the cancel button */
.confirm-btn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(4, 223, 4);
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 2px black;
    font-weight: 700;
    cursor: pointer;
    transition: .1s;
}


.confirm-btn:hover {
    background-color: rgb(16, 248, 16);
}

.confirm-btn:active {
    background-color: rgb(15, 170, 15);
    box-shadow: 0 0 4px #666;
    transform: translateY(2px);
}

.cancel-btn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(221, 6, 6);
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 2px black;
    font-weight: 700;
    cursor: pointer;
    transition: .1s;
}

.cancel-btn:hover {
    background-color: rgb(255, 6, 6);
}

.cancel-btn:active {
    background-color: rgb(179, 10, 10);
    box-shadow: 0 0 4px #666;
    transform: translateY(2px);
}

/* Center the image and position the close button */
.imgcontainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 24px 24px;
    position: relative;
}

img.avatar {
    width: 25%;
    border-radius: 50%;
}

.container {
    padding: 20px 50px 30px 50px;
}

.add-label-text {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.74);
}

.label-text {
    font-size: 43px;
    font-weight: 700;
    text-shadow: 0px 9px 4px rgba(0, 0, 0, 0.74);
    margin-left: 40px;
}

.table-container {
    padding: 20px 0px 40px 60px;
    font-size: 20px;
    width: 100%;
}

.transaction-th {
    font-size: 25px;
    text-shadow: 0 0 5px white;
}

.tb-transac {
    text-align: center;
    font-size: 15px;

}

.table-container1 {
    padding: 20px 0px 40px 60px;
    font-size: 20px;
    width: 100%;
    border: #52AA52;
}

.transaction-th1 {
    font-size: 20px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.tb-transac1 {
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

/* The Modal (background) */
.modal {

    display: none;
    align-items: center;
    justify-content: center;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #52AA52;
    border-radius: 15px;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    box-shadow: 0 0 5px black;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: -5px;
    bottom: 28px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}