body, html {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90B990
}

.top-bar-container {
    display: flex;
    background-color: #52AA52;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px black;
}

b {
    color: rgb(119, 184, 0);
    margin-left: 20px;
    font-size: 35px;
    text-shadow: 0 0 10px black;
}

.top-bar-btn {
    display: flex;
    color: whitesmoke;
    background-color: rgb(82, 170, 82);
    border: none;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    text-shadow: 0 0 3px black;
    transition: .1s;
}

.top-bar-btn:hover {
    text-shadow: 0 0 7px black;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.74);
}

.top-bar-btn:active {
    background-color: rgb(28, 117, 28);
    text-shadow: 0 0 0px black;
    box-shadow: 0px 0px 0px black;
}

.h1Class {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.74);
}

/* new edit */
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn-container-class {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: fit-content;
}

h2 {
    font-size: 19px;
    font-weight: 600;
    text-shadow: 1px 2px 0px rgb(255, 255, 255);
}

.NAVBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 5px;
    padding: 1rem;
    width: 20rem;
    cursor: pointer;
    border: none;
    background-color: #52AA52;
    box-shadow: 0 4px 0px #666;
    font-size: 20px;
    transition: .3s;
}

.NAVBTN:hover {
    background-color: #5dc25d;
}

.NAVBTN:active {
    background-color: #408640;
    box-shadow: 0 0px 0px #666;
    transform: translateY(2px);
}

.clicked{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 5px;
    padding: 1rem;
    width: 20rem;
    border: none;
    font-size: 20px;
    background-color: #397739;
    transform: translateY(2px);
    box-shadow: 0 2px 0px #666;
    transition: .3s;
}
.tableContainer {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto;
    max-height: 30rem;
    overflow-y: scroll;
}

.tableContainer::-webkit-scrollbar {
    display: none;
}

.tableContainer::-webkit-scrollbar {
    display: none;
}

.tableContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-class {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
}

table, th, td {
    border-radius: 15px;
    border: 2px solid white;
    border-collapse: collapse;
    max-width: fit-content;
    padding: .8rem;
    overflow-x: auto;
    margin: .8rem;
    font-size: 1.5rem;
}

tr:nth-child(even) {
    background-color: rgb(162, 192, 106);
}

.tbl {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: right;

}

ul {
    list-style-type: none;
}